body {
    background-color: #ffc6c7;
}

.mia-card {
    width: 80%;
}

div.inserisci {
    width: 10.625rem;
}


.container-bottoni {
    width: 18.75rem;
}


.biglietto {
    background-color: white;
    width: 80%;
}